* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

img {
    max-width: 80%;
    display: block;
    margin: 0 auto;
}

.center {
    text-align: center;
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}

.bottom-space {
    margin-bottom: 3em;
}

.top-space {
    margin-top: 3em;
}

.zero-padding {
    padding: 0;
}

.padding-border {
    padding: 0 10px;
}

.fa-circle-check {
    color: #48775d;
    font-size: 24px;
}

.cols-2 {
    display: grid;
    grid-template-columns: var(--c, 1fr);
    gap: 22px;
    align-items: center;
}

section>div {
    max-width: 1050px;
    margin: 0 auto;
    padding: 0 10px;
}

footer {
    background-color: black;
}

footer>div {
    max-width: 1050px;
    margin: 0 auto;
}

.bg-sec-1 {
    background-image: url(../images/receitas/banner-mobile-5-receitas.jpg);
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    min-height: 1203px;
}

.bg-sec-2 {
    background-image: url(../images/receitas/fundo-tarja-2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 430px;
    position: relative;
    top: -6px;
}

.bg-sec-3 {
    background-image: url(../images/receitas/mibue.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 385px;
}

.bg-sec-4 {
    background-color: transparent;
    background-image: linear-gradient(180deg, #67EFA3 0%, #48775D 100%);
    min-height: 192px;
}

.bg-sec-5 {
    background-color: transparent;
    background-image: radial-gradient(at center center, #67EFA3 0%, #15241C 100%);
}

.bg-sec-6 {
    border-left: 0 solid;
    border-right: 1200px #67EFA3 solid;
    border-bottom: 2em #15241C solid;
    border-top: 0 solid;
    min-height: 2em;
}

.bg-sec-7 {
    background-color: #15241C;
}

.chief-cards>div {
    border: 1px #999 solid;
    border-radius: 12px;
    padding: 20px;
    margin: 20px;
    box-shadow: 0 0 3px #0002, 7px 7px 10px #0002, -7px -7px 20px #0002;
}

.chief-cards>div>span {
    display: inline-block;
    text-align: center;
    font-weight: bolder;
    color: #48775d;
    font-size: x-large;
    width: 100%;
    padding: 10px;
}


.chief-cards>div>span:last-child {
    display: block;
    font-size: medium;
    margin: 30px auto 0 auto;
    color: #FFF;
    font-weight: bold;
    width: fit-content;
    background-color: #48775d;
}


.chief-cards>div>p {
    display: inline-block;
    text-align: center;
    width: 100%;
    padding: 10px;
    font-weight: bold;
}

.chief-cards>div>img {
    position: relative;
    display: block;
    width: 120px;
    margin: -50px auto 0 auto;
}

h1 {
    color: #000000;
    font-family: "Hammersmith One", Sans-serif;
    font-size: 36px;
    font-weight: 600;
    padding: 12px 12px 12px 0;
}

p {
    color: #333;
    font-family: "Hammersmith One", Sans-serif;
    font-size: 18px;
    font-weight: 600;
}

a {
    display: inline-block;
    margin: 0 auto;
    font-family: "Hammersmith One", Sans-serif;
    font-size: 28px;
    font-weight: bold;
    background-color: black;
    background-image: linear-gradient(180deg, #67EFA3 0%, #48775D 100%);
    border-style: solid;
    border-width: 2px 2px 2px 2px;
    border-color: #67EFA3A3;
    border-radius: 50px 50px 50px 50px;
    box-shadow: 0px 0px 24px 0px #67EFA3;
    padding: 18px 48px 24px;
    text-decoration: none;
    text-align: center;
    color: #FFF;
    line-height: 20px;
        
}

h2 {
    color: var(--c-subtitle, #000);
    font-family: "Hammersmith One", Sans-serif;
    font-size: 42px;
    font-weight: 600;
    line-height: 1.1em;
}

.h2-c-2 {
    --c-subtitle: #FFF;
    font-family: "Hammersmith One", Sans-serif;
    font-size: 32px;
    font-weight: 600;
    line-height: 1.1em;
    text-align: center;
}

.h2-c-3 {
    --c-subtitle: #48775D;
}

.l-itens {
    --c: 1em 1fr;
    align-items: center;
}

@media (min-width: 768px) {
    img {
        max-width: 100%;
    }

    .cols-2 {
        --c: repeat(2, 1fr);
    }

    .bg-sec-1 {
        background-image: url(../images/receitas/banner-principal-3a.jpg);
        min-height: 870px;
    }

    .bg-sec-2 {
        background-image: url(../images/receitas/fundo-tarja-2.jpg);
        min-height: 430px;
    }

    .bg-sec-3-a {
        background-image: url(../images/receitas/banner-principal-5a-2.jpg);
        background-size: contain;
        background-repeat: no-repeat;
    }

    .bg-sec-3 {   
        background-image: none;     
        min-height: 571px;
        min-width: 580px;
    }

    h1 {
        color: #000000;
        font-family: "Hammersmith One", Sans-serif;
        font-size: 64px;
        font-weight: 600;
        padding: 12px 12px 12px 0;
    }

    p {
        color: #333;
        font-family: "Hammersmith One", Sans-serif;
        font-size: 25px;
        font-weight: 400;
    }

    .h2-c-2 {
        font-size: 60px;
    }

    .l-itens {
        --c: 1em 1fr;        
    }

}